input[type=number] {
    -moz-appearance: textfield;
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #EEE;
    padding: 10px;
}

#full-page {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFF;
    border: 10px solid #FFF;
    border-radius: 10px;
    max-width: 900px;
    margin: auto;
}

#title-box {
    padding: 0 10px;
}

#survey-form {
    padding-right: 200px;
}

.form-row {
    padding: 7px 2vw;
    display: flex;
}

.form-row label {
    padding-right: 10px;
}

.form-row input, select {
    flex: 1;
}