* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
body {
    margin-top: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}



header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
}

#nav-bar {
    font-size: 30px;
    width: 50%;
    display: flex;
    align-items: center;
}
#nav-bar a {
    flex: 1;
    text-align: center;
    height: 120px;
    padding: 40px 0;
    
}
#nav-bar a:hover {
    background-color: #EEE;
}

main {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1000px;
    margin: auto;
}
#motto {
    text-align: center;
    flex: 1;
}
#motto h1 {
    font-size: 36px;
    font-weight: 300;
}

#form {
    text-align: center;
}

#email {
    width: 200px;
}

#features {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto auto auto;
    text-align: justify;
}
#features img {
    padding: 10px;
    align-self: center;
}
#features h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: -5px;
}
#features div {
    padding-bottom: 20px;
}

footer {
    max-width: 1000px;
    height: 60px;
    background-color: #AAA;
    margin: auto;
    text-align: right;
}
footer div {
    padding: 5px 20px 0;
}

#footer-links {
    display: flex;
    align-items: flex-center;
    justify-content: flex-end;
}
#footer-copy {
    margin-right: 20px;
}
#how-it-works {
    margin: auto;
}
@media screen and (min-width:600px) {
    
}

@media screen and (max-width:599px) {
    #features img {
        visibility: hidden;
    }
    header {
        flex-flow: row wrap;
        height: 240px;
    }
    body {
        margin-top: 240px;
    }
}
#pricing {
    text-align: center;
}
#phone-info {
    font-size: 20px;
}
#phone-number {
    margin-top: -10px;
    font-size: 30px;
}