html, body {
    padding: 10px .1vw 0;
    background-color: #EEE;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 24px;
    font-weight: 200;
}
#main {
    display: flex;
    flex-flow: column nowrap;
    background-color: #DDD;
    padding: 0 .25vw;
    border: 5px solid #DDD;
    border-radius: 5px;
}
#title {

}
#title-one {
    /*height: 50px;
    line-height: 80px;*/
    position: relative;
    top: 20px;
}
#title-two {
    
}
#img-div {
    background-color: #FFF;
    padding: 20px 20px 10px;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
#img-caption {
    font-style: italic;
}
#tribute-info {
    text-align: justify;
    font-size: 18px;
    padding: 0 2.5vw;
}
#external-link {
    text-align: center;
}